:root {}

.card {
    margin-top: 10rem !important;
    height: 73% !important;
    width: 26% !important;
    margin-left: 30rem;
    background: #1f2630 !important;
    box-shadow: 3px 3px 3px -2px !important;
    border-radius: 22px !important;


}

.title {
    margin-left: 25px;
    margin-top: 10px;
    color: #fdffff !important;

    h2 {
        font-size: 25px !important;
        font-family: 'Overpass', sans-serif !important;
    }

    h3 {
        font-size: 13px !important;
        color: #737a84 !important;
        margin-top: 2rem !important;
    }
}


.button-star {
    margin-left: 25px !important;
    margin-top: 25px !important;

    button {
        border-radius: 18px !important;
        background: #262e38 !important;
        border: transparent !important;
        width: 40px !important;
        height: 41px !important;

        img {
            width: 15px !important;
        }
    }
}

.buttons {
    margin-left: -13px;
}

.number-1 {
    margin-left: 2rem !important;
    margin-top: 2rem;

    button {
        background: #262e38;
        border: transparent;
        width: 50px;
        border-radius: 43px;
        transition: all 2s;

        p {
            text-align: center;
            color: #777f8a;
            margin-top: 9px;
        }

    }

}

// .number-1 button :active{
//     background-color: #fc13fc;

// }

.number-1 button:hover{
    background-color: #fc7613;
}


.number-2 {
    margin-left: 6em !important;
    margin-top: -52px !important;

    button {
        background: #262e38;
        border: transparent;
        width: 50px;
        border-radius: 43px;
        transition: all 2s;


        p {
            text-align: center;
            color: #777f8a;
            margin-top: 12px;
        }
    }

}

.number-2 button:hover {
    background-color: #fc7613;
}

.number-3 {
    margin-left: 10rem !important;
    margin-top: -55px !important;

    button {
        background: #262e38;
        border: transparent;
        width: 50px;
        border-radius: 43px;
        transition: all 2s;


        p {
            text-align: center;
            color: #777f8a;
            margin-top: 11px;
        }
    }
}


.number-3 button:hover {
    background-color: #fc7613;
}

.number-4 {
    margin-left: 14rem !important;
    margin-top: -53px !important;

    button {
        background: #262e38;
        border: transparent;
        width: 50px;
        border-radius: 43px;
        transition: all 2s;


        p {
            text-align: center;
            color: #777f8a;
            margin-top: 11px;
        }
    }


}


.number-4 button:hover {
    background-color: #fc7613;
}

.number-5 {
    margin-left: 18rem !important;
    margin-top: -51px !important;

    button {
        background: #262e38;
        border: transparent;
        width: 50px;
        border-radius: 43px;
        transition: all 2s;


        p {
            text-align: center;
            color: #777f8a;
            margin-top: 9px;
        }
    }
}


.number-5 button:hover {
    background-color: #fc7613;
}

.button-submit {
    
    margin-left: 2rem !important;
    margin-top: 22.5px !important;

    button {
        width: 18rem !important;
        background: #fc7613;
        border-radius: 24px;
        border: none;
        transition: all 2s;


        p {
            color: white;
            font-family: 'Overpass', sans-serif !important;
            margin-top: 9px;
            font-size: 17px;

        }
    }
}

.button-submit button:hover{
    background-color: #94ad7b;
}

.img-thank{
    width: 40%;
    margin-left: 84px;
    margin-top: 35px;
}
.select{
    height: 30px;
    margin-top: 28px;
    margin-left: 70px;
    width: 56%;
    border: none;
    border-radius: 13px;
    background: #2b2d33;
}

#thank{
    margin-left: 72px;
    margin-top: 12px;
}

#text{
    font-size: 15px !important;
    margin-top: 1rem !important;
}

@media(max-width:414px){
    .card{
        display: flex;
        width: 100% !important;
        margin: 0px;
    }
}
@media(min-width:820px){
    .card{
        display: flex;
        margin: 0;
        left: 2rem !important;
        width: 60% !important;
        flex-wrap: nowrap;
        margin-left: 10rem;
    }
}

@media(min-width:540px){
    .card{
        margin: 0 !important;
        top: 10rem;
        height: 24rem!important;
        width: 64% !important;
        
    }
}

@media(min-width:1280px){
    .card{
        display: flex;
        width: 50% !important;
        left: 15rem;
    }
}

@media(min-width:1024px){
    .card{
        left: 19vw !important;
    }
}